button {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    box-shadow: 2px 4px 0 white;
    transition: all .15s ease-in-out;
    font-size: 18px;
    font-family: primaryFont, sans-serif;
    font-weight: 300;



    &:hover {
        transform: translate(2px, 4px);
        box-shadow: none;
        background-color: var(--color-tertiary);
        cursor: pointer;
    }
}

.second {
    color: black;
    box-shadow: 2px 4px 0 black;
    border: 1px solid black;

    &:hover {
        color: white;
    }
}