.collaborate-section {
    background-image: url('../../../public/assets/images/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 1000px;
    width: 100%;
}


.collaborate {
    color: white;
    outline: 1px solid olive;
    padding: 96px 0;
    display: flex;
    gap: 48px;

    &-textfield {
        max-width: 50%;

        &-header {
            display: flex;
            flex-direction: column;
            gap: 48px;

            &-title {
                span {
                    font-size: 20px;
                }

                h1 {
                    font-size: 64px;
                }
            }

            &-description {
                font-weight: 400;
                position: relative;

                &::after {
                    content: "";
                    background-image: url('../../../public/assets/icons/Hand-drawn_lines/05_Contact/collaborate.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 48px;
                    width: 300px;
                    position: absolute;
                    bottom: -100px;
                    right: 0;
                }
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        outline: 1px solid red;
        width: 100%;
        position: relative;

        &-sticker {
            position: absolute;
            right: 0;
            top: 0;

            >img {
                width: 125px;
            }
        }
    }
}


.divider {
    width: 100%;
    height: 1px;
    background-color: #1AA8B5;
}