.collaborate-section {
    background-image: url('../../../public/assets/images/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    // height: 1000px;
    width: 100%;
}


.collaborate {
    color: white;
    // outline: 1px solid olive;
    padding: 96px 0;
    display: flex;
    gap: 48px;


    &-textfield {
        max-width: 50%;

        &-header {
            display: flex;
            flex-direction: column;
            gap: 48px;

            &-title {
                span {
                    font-size: 20px;
                }

                h1 {
                    font-size: 64px;
                }
            }

            &-description {
                font-weight: 400;
                position: relative;

                &::after {
                    content: "";
                    background-image: url('../../../public/assets/icons/Hand-drawn_lines/05_Contact/collaborate.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 48px;
                    width: 300px;
                    position: absolute;
                    bottom: -100px;
                    right: 0;
                    animation: leftToRight 6s ease-in-out infinite alternate;
                }
            }
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        // outline: 1px solid red;
        width: 100%;
        position: relative;
        // justify-content: center;
        // height: 584px;
        align-items: stretch;
        padding-top: 80px;

        &-sticker {
            position: absolute;
            right: -1px;
            top: 0;
            rotate: 90deg;
            z-index: 2;

            >img {
                width: 130px;
            }
        }

        &-divider {
            width: 100%;
            height: 1px;
            background-color: #24DD80;
        }

        &-custom-input {
            // padding: 12px 32px;
            padding: 12px 0;
            padding-left: 32px;
            display: flex;
            flex-direction: column;
            position: relative;
            // gap: 12px;
            // align-items: stretch;
            // overflow: visible;

            &::before,
            &::after {
                content: "";
                height: 1px;
                width: 100%;
                background-color: #1AA8B5;
                position: absolute;
                left: 0;
                opacity: 0;
            }

            &::before {
                top: -1px
            }

            &::after {
                bottom: -1px;
            }

            &:hover::before,
            &:hover::after {
                opacity: 1;
            }

            &:focus-within {

                &::before,
                &::after {
                    opacity: 1;
                    background-color: #1073EA;
                }
            }

            p {
                font-size: 24px;
                font-weight: 500;
            }

            &:hover {
                color: #1AA8B5;
            }

            textarea {
                margin-top: 6px;
                resize: none;
                min-height: 40px;
                max-height: 175px;
            }
        }

        &-privacyPolicy {
            display: flex;
            gap: 12px;
            padding: 32px 0;
            align-items: center;

            &-checkbox {
                width: 24px;
                height: 24px;
                aspect-ratio: 1/1;
                border: 1px solid #1AA8B5;
                border-radius: 4px;
                position: relative;

                >img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 125%;
                    height: 125%;
                    pointer-events: none;
                }

                &:hover {

                    border: 1px solid #24DD80;
                    cursor: pointer;
                }
            }

            .policy {
                color: #1AA8B5;

                &:hover {
                    cursor: pointer;
                    color: #24DD80;
                }
            }
        }

        &-submit {
            width: 100%;

            .cta-btn {
                width: 25%;
                display: block;
                float: right;
            }
        }
    }
}






.input {
    background-color: transparent;
    border: none;
    height: 40px;
    color: whitesmoke !important;
    font-size: 18px;
    font-weight: 400;
    font-family: primaryFont, sans-serif;

    &::placeholder {
        color: whitesmoke;
        font-size: 18px;
        font-weight: 400;
        font-family: primaryFont, sans-serif;
    }

    &:focus {
        outline: none;
    }
}


.dNone {
    display: none;
}

.dBlock {
    display: block;
}

.focus {
    color: #1073EA;
}

.unvalid {
    color: red;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
}

.collaborate-form-custom-input textarea {
    --sb-track-color: #131313;
    --sb-thumb-color: #1073ea;
    --sb-size: 8px;
}

.collaborate-form-custom-input textarea::-webkit-scrollbar {
    width: var(--sb-size)
}

.collaborate-form-custom-input textarea::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.collaborate-form-custom-input textarea::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 2px solid #0e1013;
}

@supports not selector(::-webkit-scrollbar) {
    .collaborate-form-custom-input textarea {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}