.content {
    display: flex;
    margin: 96px 0;
    justify-content: space-between;
}

.paper {
    position: relative;
    min-width: 600px;
    font-size: 22px;


    &-1 {
        position: absolute;
        top: 0;
        z-index: 3;
        left: 10%;
        transform: rotate(-5deg);
    }

    &-2 {
        position: absolute;
        top: 53%;
        left: 0;
        left: 10%;
        transform: translateY(-50%);
        z-index: 2;
    }

    &-3 {
        position: absolute;
        top: 115%;
        left: 0;
        left: 10%;
        transform: translateY(-115%) rotate(1deg);
        z-index: 1;
    }

    >img {
        width: 550px;
    }

    .location {
        display: flex;
        gap: 24px;
        position: absolute;
        top: 12%;
        left: 57.5%;
        z-index: 4;
        color: white;
        font-weight: 300;
        transform: translateX(-50%) rotate(-5deg);
        align-items: center;
        text-wrap: nowrap;
    }

    .relocate {
        display: flex;
        gap: 24px;
        position: absolute;
        top: 45%;
        left: 36%;
        z-index: 4;
        color: white;
        font-weight: 300;
        // transform: translateX(-50%) rotate(-5deg);
        align-items: center;
        text-wrap: nowrap;
    }

    .remote {
        display: flex;
        gap: 24px;
        position: absolute;
        top: 77.5%;
        left: 35%;
        z-index: 4;
        color: white;
        font-weight: 300;
        transform: rotate(5deg);
        align-items: center;
        text-wrap: nowrap;
    }
}


.about-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 48px;

    &-header {
        h2 {
            font-size: 20px;
            font-weight: 500;
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
        }

        img {
            width: 300px;
        }
    }


    &-text-area {
        font-weight: 300;
        max-width: 45ch;
    }


    &-CTA {
        align-self: self-end;
        width: 30%;
    }
}