footer {
    color: white;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.legal-wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;

    >img {
        width: 32px;
    }

    &-icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);

        &-legal {
            background: unset;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 150%;
                height: 44px;
                // background-image: url('../../../../../public/assets/icons/Hand-drawn_lines/00_Header/4.png');
                background-image: url('../../../../../public/assets/icons/Hand-drawn_lines/00_Header/4.png');
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                bottom: -12px;
                left: -12px;
                clip-path: inset(0 100% 0 0);
                transition: clip-path 0.25s ease-in-out;
            }

            &:hover::after {
                cursor: pointer;
                clip-path: inset(0 0 0 0);
            }
        }
    }
}


.wrapper {
    padding: 12px 24px;
    background-color: transparent;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s ease-in-out;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: #1073ea;
    }

    >img {
        width: 24px;
        aspect-ratio: 1/1;
    }
}

.showIcon {
    aspect-ratio: 1/1;
    position: absolute;
    top: -24px;
    right: 0;
    transform: translateY(-100%);
    display: block;
    // animation: roll-in .5s ease-in-out forwards;
    z-index: 2;
    opacity: 0;
}

.roll-in {
    animation: roll-in .5s ease-in-out forwards;
}

.roll-out {
    animation: roll-out .5s ease-in-out forwards;
}

.zeroPad {
    padding: 0;
}

@keyframes roll-in {
    0% {
        opacity: 0;
        right: 80px;
        transform: rotate(-360deg);
    }

    75% {
        right: -5px;
        transform: rotate(15deg);
    }

    100% {
        opacity: 1;
        right: 0px;
        transform: rotate(0deg);
    }
}

@keyframes roll-out {
    0% {
        opacity: 1;
        transform: rotate(0deg);
        right: 0px;
    }

    100% {
        opacity: 0;
        transform: rotate(-360deg);
        right: 50px;
    }
}

.legal-wrapper-mobile {
    display: flex;
    color: white;
    justify-content: space-between;
    // padding: 0 24px;
    padding-bottom: 96px;


    &-name {

        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@media(min-width:851px) {
    .legal-wrapper-mobile {
        display: none;
    }
}

@media(max-width:850px) {
    .legal-wrapper {
        display: none;
    }

    .legal-wrapper-mobile {
        // padding: 24px 0;
        padding-top: 32px;
        padding-bottom: 16px;

        &-name {
            font-weight: 300;
            text-align: end;
        }
    }
}


@media(max-width:600px) {
    footer {
        padding-bottom: 12px;
    }

    .wrapper {
        padding: 12px 18px;
    }

    .legal-wrapper-mobile {
        // padding: 24px 0;
        // padding-top: 32px;
        padding-bottom: 24px;

        &-name {
            font-weight: 300;
            text-align: end;
        }
    }
}