.landing-page {
    background-image: url('../../../public/assets/images/hero.png');
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
}