<div class="projects-section">
    <div class="max-content">
        <div class="content">
            <div class="projects">
                <div class="projects-header">
                    <div><span>MY CRAFT</span>
                        <h1 class="section-title">Projects</h1>
                    </div>
                    <p>
                        Encourage people to take a look and interact with your projects.
                        Highlight your approach to creating responsive, user-friendly projects with efficient code.
                    </p>
                </div>
                @for (project of projects; track $index) {
                <div class="single-project">
                    <div class="single-project-image">
                        <img src="{{ project.url }}" alt="" srcset="">
                        @if (project.featured) {
                        <div class="single-project-sticker">
                            <img src="./assets/icons/Stickers/Round/B.png" alt="" srcset="">
                        </div>
                        }
                        <app-button class="cta-btn" value="Project details"></app-button>
                    </div>
                    <div class="single-project-title">
                        <h2> {{ project.title }}</h2>
                    </div>
                    <div class="single-project-description">
                        {{ project.description }}
                    </div>
                    <app-button class="single-project-cta-btn-mobile second third" value="Project details"></app-button>
                </div>
                }
            </div>
            <div class="testimonials">
                <div class="testimonials-header">
                    <span>IN THEIR WORDS</span>
                    <h1>Colleagues Thoughts</h1>
                </div>
                <div class="testimonials-cards">
                    <div class="testimonials-card">
                        <div class="testimonials-card-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis minus ad possimus delectus
                            dignissimos atque voluptatum ipsum libero aliquid. Minima neque iusto nostrum unde a? Vero
                            voluptatibus possimus natus nostrum.
                        </div>
                        <div class="testimonials-card-footer">
                            <div class="testimonials-cards-footer-name">

                            </div>
                            <div class="testimonials-card-footer-link">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>