.mobileNavbar {
    width: 100%;
    // background-image: url('../../../../../public/assets/images/hero.png');
    background-image: url('../../../../../../public/assets/images/hero.png');
    background-size: cover;
    height: 85dvh;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.mobileNavbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.mobileNavbar-about-me {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;

    &::after {
        content: "";
        display: block;
        background-image: url('../../../../../../public/assets/icons/Hand-drawn_lines/00_Header/1.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -12%;
        top: -17%;
        width: 120px;
        height: 48px;
        clip-path: inset(0 0 100% 0);
        transition: clip-path 0.25s ease-in-out,
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}

.mobileNavbar-skills {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;

    &::after {
        content: "";
        display: block;
        background-image: url('../../../../../../public/assets/icons/Hand-drawn_lines/00_Header/2.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -50%;
        bottom: -10%;
        width: 120px;
        height: 48px;
        clip-path: inset(0 100% 0 0);
        transition: clip-path .25s ease-in-out,
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}

.mobileNavbar-projects {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;

    &::after {
        content: "";
        display: block;
        background-image: url('../../../../../../public/assets/icons/Hand-drawn_lines/00_Header/3.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -10%;
        bottom: -65%;
        width: 100px;
        height: 48px;
        clip-path: inset(0 100% 0 0);
        transition: clip-path .25s ease-in-out,
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}

.mobileNavbar-contact {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;

    &::after {
        content: "";
        display: block;
        background-image: url('../../../../../../public/assets/icons/Hand-drawn_lines/00_Header/4.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -15%;
        bottom: -35%;
        width: 100px;
        height: 48px;
        clip-path: inset(0 100% 0 0);
        transition: clip-path .25s ease-in-out,
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}

.mobileNavbar-language {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.english {
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        background-image: url('../../../../../../public/assets/icons/Hand-drawn_lines/00_Header/Toggle.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -65%;
        left: -40%;
        width: 32px;
        aspect-ratio: 1/1;
        clip-path: inset(100% 0 0 100%);
        transition: clip-path .15s ease-in-out;
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}

.german {
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        transform: rotateZ(180deg);
        background-image: url('../../../../../public/assets/icons/Hand-drawn_lines/00_Header/Toggle.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -65%;
        left: -40%;
        width: 32px;
        aspect-ratio: 1/1;
        clip-path: inset(100% 0 0 100%);
        transition: clip-path .15s ease-in-out;
    }

    &:hover::after {
        clip-path: inset(0 0 0 0);
    }
}


button {
    background-color: transparent;
    color: white;
    border: none;
}


.toggle {
    width: 32px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50px;
    border: 1px solid white;
    position: relative;

    >div {
        height: 16px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        border: 1px solid white;
        background-color: var(--color-tertiary);
        position: absolute;
        top: -50%;
        left: 0;
        transition: all .3s ease-in-out;
    }
}

.social {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}