.skill-set {
    background-image: url('../../../public/assets/images/skills.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    gap: 32px;
    padding: 96px 0;
}

.skills-header {
    display: flex;
    gap: 54px;

    &-title {
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
        width: 25%;

        span {
            font-size: 20px;
            font-weight: 300;
            text-align: end;
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
            position: relative;
            text-align: end;

            &::after {
                content: "";
                background-image: url('../../../public/assets/icons/Hand-drawn_lines/02_Skills/skillCircle.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 265px;
                aspect-ratio: 3/2;
                position: absolute;
                top: -6px;
                right: -25px;
            }
        }
    }

    &-description {
        background-image: url('../../../public/assets/icons/RippedPaper/a.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: black;
        width: 45%;
        padding: 30px;
        font-size: 14px;
        font-weight: 400;
    }

    &-empty {
        width: 25%;
    }
}

.skills-field {
    width: 100%;
    margin: 48px auto;
    display: flex;
    justify-content: space-between;

    &-empty {
        width: 25%;
    }

    &-icons {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
    }

    &-sticker {
        width: 25%;
        rotate: 8deg;

        >img {
            aspect-ratio: 1/1;
            width: 200px;

            &:hover {
                cursor: pointer;
            }
        }

        &-action {
            font-family: secondaryFont-Light, sans-serif;

            >img {
                width: 50px;
                position: absolute;
                top: 35px;
                left: 75px;
                cursor: pointer;
                pointer-events: none;
            }

            span {
                position: absolute;
                top: 90px;
                left: 45px;
                font-size: 36px;
                font-weight: 100;
                line-height: 100%;
                text-align: center;
                cursor: pointer;
                pointer-events: none;
            }
        }
    }

}



.singleTechnology {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    filter: grayscale(1);
    transition: all .15s ease-in-out;

    &:hover {
        filter: grayscale(0);
        scale: .8;
    }

    >img {
        aspect-ratio: 1/1;
        width: 64px;
    }

    >span {
        text-wrap: wrap;
        width: 80px;
        font-weight: 300;
    }
}

.interested {
    position: absolute;
    top: 0;
    left: 0;

    span {
        font-size: 16px;
    }

    .nextTech {
        display: flex;
        gap: 24px;

        >div {
            display: flex;
            flex-direction: column;
        }
    }


}

.d-none {
    display: none;
}