.mobileNavbar {
    width: 100%;
    // background-image: url('/assets/images/hero.png');
    height: 100dvh;
    background-color: blue;
    z-index: 17;
    position: relative;
}

.mobileNavbar-header {
    display: flex;
    justify-content: space-between;
}