<div class="collaborate-section">
    <div class="max-content">
        <div class="collaborate">
            <div class="collaborate-sticker">
                <img src="./assets/icons/Stickers/Round/AR-Sticker.png" alt="" srcset="">
            </div>
            <div class="collaborate-textfield">
                <div class="collaborate-textfield-header">
                    <div class="collaborate-textfield-header-title">
                        <span> {{ 'contact.me' | translate }}</span>
                        <h1> {{ 'contact.headline' | translate }}</h1>
                    </div>
                    <div [innerHTML]="'contact.text' | translate" class="collaborate-textfield-header-description">
                    </div>
                </div>
            </div>
            <div class="collaborate-form">
                <div class="collaborate-form-sticker">
                    <img src="./assets/icons/Stickers/Round/AR-Sticker.png" alt="" srcset="">
                </div>
                <form autocomplete="off" (ngSubmit)="submitForm(contactForm, name, mail, message, autoTA)"
                    #contactForm="ngForm">
                    <div class="collaborate-form-custom-input">
                        <p #inputName class="custom-input-lable">{{ 'contact.nameLabel' | translate }}</p>
                        <input #name="ngModel" required name="name" [(ngModel)]="formData.name" minlength="3"
                            class="input" placeholder="{{ 'contact.namePlaceholder' | translate }}" type="text"
                            (focus)="focusedInput(inputName, name)" (blur)="bluredInput(inputName, name)">
                        @if (!name.valid && (name.touched || submittedOnce())) {
                        <span class="unvalid">{{ 'contact.nameError' | translate }}</span>
                        }
                    </div>
                    <div class="collaborate-form-divider"></div>
                    <div class="collaborate-form-custom-input">
                        <p #focusMail class="custom-input-lable">{{ 'contact.emailLabel' | translate }}</p>
                        <input #mail="ngModel" required name="mail" [(ngModel)]="formData.mail" class="input"
                            placeholder="{{ 'contact.emailPlaceholder' | translate }}" type="text"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            (focus)="focusedInput(focusMail, mail)" (blur)="bluredInput(focusMail, mail)">
                        @if (!mail.valid && (mail.touched || submittedOnce())) {
                        <span class="unvalid">{{ 'contact.emailError' | translate }}</span>
                        }
                    </div>
                    <div class="collaborate-form-divider"></div>
                    <div class="collaborate-form-custom-input">
                        <p #focusText class="custom-input-lable">{{ 'contact.messageLabel' | translate }}</p>
                        <textarea #message="ngModel" minlength="10" required #autoTA (input)="adjustHeight(autoTA)"
                            name="message" [(ngModel)]="formData.message" class="input"
                            placeholder="{{ 'contact.messagePlaceholder' | translate }}" type="text"
                            (focus)="focusedInput(focusText, message)"
                            (blur)="bluredInput(focusText, message)"></textarea>
                        @if (!message.valid && (message.touched || submittedOnce())) {
                        <span class="unvalid">{{ 'contact.messageError' | translate }}</span>
                        }
                    </div>
                    <div class="collaborate-form-divider"></div>
                    <div class="collaborate-form-privacyPolicy">
                        <div (click)="toggleCheckbox()" class="collaborate-form-privacyPolicy-checkbox">
                            <img [ngClass]="checked() ? 'dBlock' : 'dNone'"
                                src="./assets/icons/Hand-drawn_lines/00_Header/Check.png" alt="">
                        </div>
                        <p> {{ 'contact.privacyText_prefix' | translate }} <span (click)="navigateToPrivacy()"
                                class="policy">{{ 'contact.privacyLink' | translate }}</span>
                            {{ 'contact.privacyText_suffix' | translate }}
                        </p>
                        @if (!checked() && clickedOnce()){
                        <p class="unvalid pol"> {{ 'contact.privacyError' | translate }}</p>
                        }
                    </div>
                    <div class="collaborate-form-submit">
                        <app-button class="cta-btn disabled" value="{{ 'contact.submit' | translate }}" [ngClass]="{
                            enabled: checked() && (name.valid) && (mail.valid) && (message.valid)
                        }"></app-button>
                    </div>
                </form>
            </div>
        </div>
        <app-footer class="zeroPad"></app-footer>
    </div>
    <div #notification class="notification">
        @if(isGerman()){
        <img src="./assets/images/notification-DE.png" alt="" srcset="">
        }
        @if(!isGerman()){
        <img src="./assets/images/notification-EN.png" alt="" srcset="">
        }
    </div>
</div>