.single-project {
    background-color: #0E161F;
    height: 100dvh;
    background-image: url('../../../../../public/assets/images/notebook_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}






@media(max-width:800px) {
    .single-project {
        background-image: url('../../../../../public/assets/images/notebook_paper_rotated.png');
    }
}