.more-pad {
    padding: 0 62px;
    // padding-left: 62px;
    height: 100%;
}


.single-project {
    background-color: #0E161F;
    height: 100dvh;
    background-image: url('../../../../../public/assets/images/notebook_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: auto 100%;
    // background-position: right 50% center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    // gap: 128px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    height: 100%;
    justify-content: space-between;
}


.back-arrow {
    // margin: 62px 0;
    // margin-top: 62px;

    button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: primaryFont;

        >img {
            width: 24px;
        }

        &:hover {
            color: #1073EA;
            cursor: pointer;
        }
    }
}


.project {
    display: flex;
    // padding: 0 32px;
    padding-left: 32px;
    gap: 48px;
    // outline: 1px solid salmon;


    &-textfield {
        display: flex;
        flex-direction: column;
        gap: 24px;
        // outline: 1px solid olive;
        width: clamp(300px, 50%, 1000px);
        justify-content: space-between;

        h1 {
            // font-size: clamp(44px, 100%, 64px);
            font-size: 64px;
            position: relative;
            width: min-content;
            text-wrap: nowrap;

            &::after {
                content: "";
                background-image: url('../../../../../public/assets/icons/Hand-drawn_lines/01_AboutMe/ColorOption-3.png');
                position: absolute;
                bottom: -18px;
                left: 0;
                right: 0;
                height: 32px;
                background-size: contain;
                background-repeat: no-repeat;
                animation: leftToRight 6s ease-in-out infinite;
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h2 {
                font-size: 28px;
            }

            p {
                font-weight: 300;
                max-width: 52ch;
            }

            &-duration {
                display: flex;
                align-items: center;
                gap: 12px;

                >div {
                    font-weight: 300;
                    display: flex;
                    gap: 8px;
                }
            }
        }

        &-technologys {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;

            &-technology {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 300;

                p {
                    color: white;
                    mix-blend-mode: difference;
                }

                >img {
                    width: 32px;
                }
            }


        }
    }

    &-imagefield {
        max-width: 50%;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        justify-content: space-between;
        // outline: 1px solid red;
        position: relative;

        >img {
            width: 100%;
            border-radius: 22px;
            aspect-ratio: 3/2;
            object-fit: cover;
        }

        &-empty {
            width: 100%;
            height: 40px;
        }

        &-buttons {
            display: flex;
            justify-content: end;
            gap: 48px;

        }

        &-sticker {
            position: absolute;
            top: 50%;
            right: 0;

            >img {
                width: 128px;
                transform: translate(50%, -50%);
            }
        }
    }
}


.BTN-Width {
    width: clamp(100px, 100%, 150px);
    mix-blend-mode: difference;
}

.next-arrow {
    // margin: 62px 0;
    margin-bottom: 62px;
    display: flex;
    justify-content: end;

    button {
        mix-blend-mode: difference;
        // align-self: end;
        background-color: transparent;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: primaryFont;
        color: white;

        >img {
            width: 24px;
        }

        &:hover {
            color: #1073EA;
            cursor: pointer;
        }
    }
}

.back-arrow-mobile {
    // margin: 62px 0;
    // margin-top: 62px;

    button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: primaryFont;
        color: white;

        >img {
            width: 24px;
        }

        &:hover {
            color: #1073EA;
            cursor: pointer;
        }
    }
}