.more-pad {
    padding: 0 62px;
}


.single-project {
    background-color: #0E161F;
    height: 100dvh;
    background-image: url('../../../../../public/assets/images/notebook_paper.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.back-arrow {
    margin: 62px 0;

    button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: primaryFont;

        >img {
            width: 24px;
        }

        &:hover {
            color: #1073EA;
            cursor: pointer;
        }
    }
}


.project {
    display: flex;
    padding: 0 32px;
    gap: 48px;
    outline: 1px solid salmon;


    &-textfield {
        display: flex;
        flex-direction: column;
        gap: 24px;
        outline: 1px solid olive;
        max-width: 50%;
        justify-content: space-between;

        h1 {
            font-size: 64px;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h2 {
                font-size: 28px;
            }

            p {
                font-weight: 300;
            }

            &-duration {
                display: flex;
                align-items: center;
                gap: 24px;

                >div {
                    font-weight: 300;
                    display: flex;
                    gap: 8px;
                }
            }
        }

        &-technologys {
            display: flex;
            gap: 12px;

            &-technology {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 300;

                >img {
                    width: 32px;
                }
            }


        }
    }

    &-imagefield {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 48px;
        justify-content: space-between;
        outline: 1px solid red;

        >img {
            width: 100%;
        }

        &-buttons {
            display: flex;
            justify-content: end;
            gap: 48px;

        }
    }
}


.BTN-Width {
    width: 150px;
}


@media(max-width:800px) {
    .single-project {
        background-image: url('../../../../../public/assets/images/notebook_paper_rotated.png');
    }
}