<div class="single-project">
    <div class="more-pad">
        <div class="project-wrapper">
            <app-header class="zeroPad"></app-header>

            <div class="back-arrow">
                <button [routerLink]="'/'" fragment="projects"><img
                        src="./assets/icons/Hand-drawn_lines/03_Portfolio/Breadcrumbs/Breadcrumb arrow 3.png" alt=""
                        srcset="">
                    {{ 'single-project.back' | translate }}
                </button>
            </div>
            <div class="project">
                <div class="project-textfield">
                    <h1>{{ project?.title }}</h1>

                    <div class="project-textfield-wrapper">
                        <h2>{{ 'single-project.description' | translate}}</h2>
                        <p>{{ project?.description | translate }}</p>
                    </div>

                    <div class="project-textfield-wrapper">
                        <h2>{{ 'single-project.details' | translate }}</h2>
                        <p>{{ project?.implDetails | translate }}</p>
                    </div>

                    <div class="project-textfield-wrapper-duration">
                        <h2>{{ 'single-project.duration' | translate }} </h2>
                        <div>
                            <p>{{ project?.duration }}</p>
                            <p>{{ 'single-project.weeks' | translate }}</p>
                        </div>
                    </div>
                    <div class="project-textfield-technologys">
                        @for(item of project?.technology; track $index){
                        <div class="project-textfield-technologys-technology">
                            <img src="{{ item.src }}" alt="" srcset="">
                            <p>{{ item.name }}</p>
                        </div>
                        }
                    </div>
                </div>

                <div class="project-imagefield">
                    <div class="project-imagefield-empty"></div>
                    <img src="{{project?.detailImg}}" alt="" srcset="">
                    @if (project?.featured) {
                    <div class="project-imagefield-sticker">
                        <img src="./assets/icons/Stickers/Round/B.png" alt="" srcset="">
                    </div>
                    }
                    @if (!project?.featured){
                    <div class="project-imagefield-sticker">
                        <img src="./assets/icons/Stickers/Round/A.png" alt="" srcset="">
                    </div>
                    }
                    <div class="project-imagefield-buttons">
                        <app-button (click)="goToGit()" class="BTN-Width" value="GitHub"></app-button>
                        <app-button class="BTN-Width" value="Live Test"></app-button>
                    </div>
                </div>

            </div>
            <div class="buttons">
                <div class="back-arrow-mobile">
                    <button [routerLink]="'/'" fragment="projects"><img
                            src="./assets/icons/Hand-drawn_lines/03_Portfolio/Breadcrumbs/Breadcrumb arrow 3.png" alt=""
                            srcset="">
                        {{ 'single-project.back' | translate }}
                    </button>
                </div>
                <div class="next-arrow">
                    <button (click)="next()">
                        {{ 'single-project.next' | translate }}
                        <img src="./assets/icons/Hand-drawn_lines/03_Portfolio/Breadcrumbs/Next project arrow 3.png"
                            alt="" srcset="">
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>