.content {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.projects {
    gap: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: clamp(350px, 100%, 700px);
    margin: 0 auto;

    span {
        font-weight: 500;
    }

    h1 {
        font-size: 64px;
        font-weight: 700;
        position: relative;

        &::after {
            content: "";
            background-image: url("../../../../../public/assets/icons/Hand-drawn_lines/03_Portfolio/Color\ option\ 3.png");
            width: 300px;
            height: 30px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 60px;
            left: -5px;
            clip-path: inset(0 100% 0 0);
            animation: leftToRight 6s ease-in-out infinite alternate;
        }
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }
}


.animated {
    animation: upAndDown 5s linear infinite;
}

.single-project {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: clamp(350px, 100%, 700px);
    margin: 0 auto;


    &-image {
        border-radius: 18px;
        position: relative;
        display: flex;
        overflow: hidden;

        >img {
            border-radius: inherit;
            width: 100%;
            transition: all .15s ease-out;
            z-index: 1;
        }

        >.cta-btn {
            position: absolute;
            z-index: 3;
            right: 5%;
            bottom: 10%;
            opacity: 0;
            width: 150px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background: #FFFFFF;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(38, 38, 38, 1) 100%);
            opacity: 0;
            z-index: 2;
        }

        &:hover {
            cursor: pointer;
            animation-play-state: paused;

            &::before,
            .cta-btn {
                opacity: 1;
            }

            >img {
                scale: (1.04);
            }
        }
    }

    &-sticker {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
        // display: none;

        >img {
            aspect-ratio: 1/1;
            width: 168px;
            display: block;
        }
    }

    &-title {
        font-size: 24px;
    }

    &-description {
        font-size: 18px;
        font-weight: 300;
    }

    &-cta-btn-mobile {
        display: none;
    }
}


@keyframes upAndDown {

    0%,
    100% {
        transform: translateY(0);
    }

    33.3333% {
        transform: translateY(25px);
    }

    66.6666% {
        transform: translateY(-25px);
    }
}