<div class="projects-section">
    <div class="max-content">
        <div class="content">
            <div class="projects">
                <div class="projects-header">
                    <div><span>{{ 'projects.craft' | translate }}</span>
                        <h1 class="section-title">{{ 'projects.title' | translate }}</h1>
                    </div>
                    <p> {{ 'projects.text' | translate }}</p>
                </div>
                @for (project of projects; track $index) {
                <div class="single-project">
                    <div [routerLink]="['/projects', project.slug]" class="single-project-image">
                        <img class="animated{{$index}}" src="{{ project.img }}" alt="" srcset="">
                        @if (project.featured) {
                        <div class="single-project-sticker">
                            <img src="./assets/icons/Stickers/Round/feat-Sticker.png" alt="" srcset="">
                        </div>
                        }
                        <app-button [route]="['/projects', project.slug]" class="cta-btn"
                            value="Project details"></app-button>
                    </div>
                    <div class="single-project-title">
                        <h2> {{ project.title }}</h2>
                    </div>
                    <div class="single-project-description">
                        {{ project.description | translate }}
                    </div>
                    <app-button [route]="['/projects', project.slug]" class="single-project-cta-btn-mobile second third"
                        value="Project details"></app-button>
                </div>
                }
            </div>
        </div>
    </div>
</div>