:root {
    --color-primary: #24DD80;
    --color-secondary: #1AA8B5;
    --color-tertiary: #1073EA;
}


@font-face {
    font-family: "primaryFont";
    src: url('../public/assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}


@font-face {
    font-family: "secondaryFont";
    src: url('../public/assets/fonts/Kalam-Bold.ttf');
}


body {
    margin: 0;
    font-family: primaryFont, sans-serif;
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid pink;
}


.max-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

@media (max-width: 720px) {
    .max-content {
        padding: 0 12px;
    }

}