:root {
    --color-primary: #24DD80;
    --color-secondary: #1AA8B5;
    --color-tertiary: #1073EA;
}


@font-face {
    font-family: "primaryFont";
    src: url('../public/assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf');
}


@font-face {
    font-family: "secondaryFont";
    src: url('../public/assets/fonts/Kalam-Bold.ttf');
}

@font-face {
    font-family: "secondaryFont-Light";
    src: url('../public/assets/fonts/Kalam-Light.ttf');
}


body {
    margin: 0;
    font-family: primaryFont, sans-serif;
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.max-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

@media (max-width: 720px) {
    .max-content {
        padding: 0 12px;
    }

}


@keyframes leftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    16% {
        clip-path: inset(0 0 0 0);
    }

    66% {
        clip-path: inset(0 0 0 0);
    }

    83% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

// .section-title {
//     font-size: clamp(44px, 4vw + 1rem, 64px) !important;
// }